body {
  background-color: white;
}
.panel-header {
  text-align: center;
  font-family: "Segoe UI";
}
.form-group.required .control-label:after {
  content: "*";
  color: red;
}
.form-group {
  align-items: center;
}
a {
  padding: 120px;
  margin: 42px;
}
